# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Fitness_Manager_System-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
